@model Product
@{
    ViewData["Title"] = "EditForm";
}



<h1>Edit Product</h1>

<form action="/admin/edit" method="post">


    Name:<input type="text" name="name" value="@Model.name" /><br />

    Description: <input type="text" name="description" value="@Model.description" /><br />

    Price:<input type="text" name="price" value="@Model.price" /><br />


    Category:<input type="text" name="category" value="@Model.category" /><br />

    <input type="hidden" name="id" value="@Model.id" />


    <input type="submit" value="Save" />





</form>

