@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Menu Items</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Item</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Update Product </th>
        </tr>
    </thead>
    <tbody>

        @foreach (Product prod in Model)
        {
            <tr>

                <td>@prod.id</td>
                <td><a href="/product/detail/@prod.id">@prod.name</a></td>
                <td>@prod.description</td>
                <td>@prod.price</td>
                <td>@prod.category</td>
                <td>

                    
                    <a href="/product/editform/@prod.id">Edit |</a>
                    <a href="/product/delete/@prod.id">Delete</a>
                    <br />



                </td>


            </tr>


        }

       <br/><br/>
        <a href="/product/addform">Add New product</a>


    </tbody>


    <body 
          style=" background-color: #5F9EA0;">


    </body>
